name: publish book

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  publish-book:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-mdbook-publish-${{ hashFiles('**/Cargo.toml') }}
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install mdbook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.52'
      - name: Install mdbook-keeper
        run: cargo install mdbook-keeper@0.5.0
      - name: test and build book
        run: bash ./ci/test-book.sh
      - name: Publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/book
          destination_dir: ${{ github.ref_name }}
      - name: Publish latest
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref_type == 'tag'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/book
          destination_dir: latest
